html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}


.custom-div-icon {
  background: transparent;
  border: none;
}

.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #3388ff;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker-pin::after {
  content: '';
  width: 24px;
  height: 24px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

.custom-div-icon i {
  position: absolute;
  font-size: 14px;
  width: 22px;
  height: 22px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px auto;
  text-align: center;
  transform: rotate(45deg);
  z-index: 1;
}

.custom-div-icon img {
  height: auto !important;
}

.leaflet-marker-icon {
  width: auto !important;
}

/* Styles globaux pour les popups Leaflet */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.leaflet-popup {
  margin-bottom: 0 !important;
}

.leaflet-popup-tip-container {
  display: none !important;
}

.custom-popup {
  margin-bottom: 10px !important;
}

.leaflet-container a.leaflet-popup-close-button {
  background: orange !important;
  border-radius: 50% !important;
  position: absolute;
  top: 0 !important;
  right: 10px !important;
  border: none !important;
  text-align: center !important;
  width: 24px !important;
  height: 24px !important;
  color: #ffffff !important;
  text-decoration: none !important;
}