/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Styles nécessaires pour assurer que les cartes Leaflet s'affichent correctement */
.leaflet-container {
  width: 100%;
  height: 100%;
}

.custom-div-icon {
  background: transparent;
  border: none;
}

.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #3388ff;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker-pin::after {
  content: '';
  width: 24px;
  height: 24px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

.custom-div-icon i {
  position: absolute;
  font-size: 14px;
  width: 22px;
  height: 22px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px auto;
  text-align: center;
  transform: rotate(45deg);
  z-index: 1;
}